{% extends "aginy/layout.html" %}

{% block title %}
Chat
{% endblock %}

{% block scripts %}
{% load static %}
<script>
    var messages = {{ messages|safe }};
    var username = "{{ username }}";
</script>
<script type="text/javascript" src="{% static 'aginy/chatpage.js' %}"></script>
{% endblock %}

{% block body %}
<div id="message-area">
</div>
<div id = "chatbox-area" class="container-fluid">
    <div id="chatbox">
        <form id="chat-form" onsubmit = "return false">
            {% csrf_token %}
            <input type="text" autocomplete="off" class="form-control" id="prompt" name="prompt" placeholder="Tell me more...">
            <input id ="submit-button" class = "btn btn-light" type="submit" value="Go">
            <input type="text" id="action-type" name="action-type" value="chat" hidden>
        </form>
    </div>
</div>

{% endblock %}