{% extends "aginy/layout.html" %}

{% block title %}
Aginy Aunt
{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'aginy/chatpage.js' %}"></script>
{% endblock %}

{% block body %}
<div id="message-area">
</div>
<div id="chatbox">
    <form id="chat-form" onsubmit = "return false">
        {% csrf_token %}
        <input type="text" id="prompt" name="prompt" placeholder="Tell me more...">
        <input id ="submit-button" type="submit" value="Go">
    </form>
</div>

{% endblock %}