{% extends "aginy/layout.html" %}

{% block title %}
Aginy Aunt
{% endblock %}

{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'aginy/chatpage.js' %}">
{% endblock %}

{% block body %}
<div id="messages">
    {% for message in messages %}
    <p>{{ message.role }}: {{ message.content }}</p>
    {% endfor %}
</div>
<div id="chatbox">
    <form id="chat-form" action="" method="POST">
        {% csrf_token %}
        <input type="text" id="prompt" name="prompt" placeholder="Tell me more...">
        <input type="submit" value="Go">
    </form>
</div>

{% endblock %}