{% extends "aginy/layout.html" %}

{% block title %}
History
{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'aginy/historypage.js' %}"></script>
{% endblock %}

{% block body %}
<div id="message-area">
    <table id="history-table" class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
            {% for chat in chat_history %}
            <tr class="chat-history">
                <th>{{ chat.id }}</td>
                <td>{{ chat.title }}</td>
                <td>{{ chat.datetime }} </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

<form id="history-form" action="{% url 'chat' %}" method="POST" hidden>
    {% csrf_token %}
    <input type="text" id="chat-id" name="chat-id" value="None">
    <input type="text" id="action-type" name="action-type" value="view">
</form>
{% endblock %}