{% extends "aginy/layout.html" %}

{% block title %}
Aginy Aunt
{% endblock %}

{% block body %}
{% load static %}
<img src="{% static 'aginy/teacup_home.png' %}">
<div id="chatbox-area-front" class="container-fluid">
    <div id="chatbox">
        <form id="chat-form" action="chat/" method="POST">
            {% csrf_token %}
            <input type="text" class ="form-control" id="prompt" name="prompt" placeholder="Tell me all about it...">
            <input type="submit" class="btn btn-light" value="Go">
            <input type="text" id="action-type" name="action-type" value="chat" hidden>
        </form>
    </div>
</div>
{% endblock %}